<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' ) }}">
<form action="/actualizarCurso/{{curso.id}}", method="POST" class="formularioAgregarCurso">
    <div>
        <input type="text" name="nombre" placeholder="nombre del curso" value="{{curso.nombre}}">
        <input type="text" name="contenido" placeholder="contenido del curso" value="{{curso.contenido}}">
        <input type="text" name="clases" placeholder="fecha de inicio" value="{{curso.clases}}">
        <input type="text" name="descripcion" placeholder="descripcion" value="{{curso.descripcion}}">
        <input type="text" name="requisitos" placeholder="requisitos" value="{{curso.requisitos}}">
        <input type="text" name="precio" placeholder="precio" value="{{curso.precio}}">
    </div>
    <button class="btn btn-success botonAgregarCurso">ACTUALIZAR</button>

</form>