<form action="/actualizarCurso/{{curso.id}}", method="POST">
    <input type="text" name="nombre" placeholder="nombre del curso" value="{{curso.nombre}}">
    <input type="text" name="contenido" placeholder="contenido del curso" value="{{curso.contenido}}">
    <input type="text" name="clases" placeholder="fecha de inicio" value="{{curso.clases}}">
    <input type="text" name="descripcion" placeholder="descripcion" value="{{curso.descripcion}}">
    <input type="text" name="requisitos" placeholder="requisitos" value="{{curso.requisitos}}">
    <input type="text" name="precio" placeholder="precio" value="{{curso.precio}}">
    <button>ACTUALIZAR</button>

</form>