<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' ) }}">


<p class="soyAdmin"> ... ( luego de loguearme como admin ) ...</p>
<a href="{{url_for('estudiantes.index')}}" ><button class="btn btn-secondary">Volver a ser mortal..</button></a>
<div>
    <p class="tituloAdmin">Listado de todos los estudiantes</p>
        <div>
        </div>
        <table class="table table-striped table-hover align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Email</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
            {% for estudiante in estudiantes %}
              <tr>
                <th scope="row">{{estudiante.id}}</th>
                <td>{{estudiante.nombre}}</td>
                <td>{{estudiante.apellido }}</td>
                <td>{{estudiante.email }}</td>
                <td>
                    <button class="btn btn-warning">
                        <a href="{{url_for('estudiantes.actualizarEstudiante', id=estudiante.id)}}">Update</a>
                    </button>
                    <button class="btn btn-danger">
                        <a href="{{url_for('estudiantes.borrarEstudiante', id=estudiante.id)}}">Delete</a>
                    </button>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
</div>


<p  class="tituloAdmin">Formulario creacion de cursos</p>
{% include("formCursos.html") %}

<p  class="tituloAdmin">Cursos existentes</p>
<div>
    <table class="table table-striped table-hover align-middle">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Contenido</th>
            <th scope="col">Clases</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
        </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
                <tr>
                    <th scope="row">{{curso.id}}</th>
                    <td>{{curso.nombre}}</td>
                    <td>{{curso.contenido}}</td>
                    <td>{{curso.clases}}</td>
                    <td>{{curso.descripcion}}</td>
                    <td>{{curso.precio}}</td>
                    <td>
                        <button class="btn btn-warning">
                            <a href="{{url_for('estudiantes.actualizarCurso', id=curso.id)}}">Update</a>
                        </button>
                        <button class="btn btn-danger">
                            <a href="{{url_for('estudiantes.borrarCurso', id=curso.id)}}">Delete</a>
                        </button>
                    </td>
                </tr>
            {% endfor %}
                    
        </tbody>
    </table>
</div>