<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Juan TEC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' ) }}">

</head>
<body>

    <div class="imagenHero" >
        <img src="../static/img/TALENTO-TEC-capacitate-de-PROGRAMACION.jpg">
    </div>
    <div>
        <h3 class="tituloPagina">Nuestros cursos</h3>
        <div>
            <a href="{{url_for('estudiantes.admin')}}" ><button class="btn btn-info">loguin como =>  ADMINISTRADOR</button> </a>
        </div>
        <div class="container_card">
            {% for curso in cursos %}
            <card class="tarjeta">
                <div class="content">
                    <div id="cabecera">
                        <h5>{{curso.nombre}}</h5>
                        <p>{{curso.contenido}}</p>
                        <p>{{curso.clases}}</p>
                    </div>
                    <hr />
                    <div id="pie">
                        <p>{{curso.descripcion }}</p>

                        <strong>
                            <p>{{curso.requisitos }}</p>
                        </strong>
                        <p class="precio">$ {{curso.precio }}</p>
                    </div>
                </div>
                <div class="botonContainer">
                    <button class="boton">
                        <a href="{{url_for('estudiantes.inscribirEstudiante', id=curso.id)}}">INSCRIBIRME</a>
                    </button>
                    <div>
                        <!-- Modal -->
                            <div class="modal" id="modal{{curso.id}}" tabindex="-1" aria-labelledby="{{curso.nombre}}" aria-hidden="true">
                                <div class="modal-dialog"> 
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="{{curso.nombre}}">{{curso.nombre}}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/inscribirEstudiante/{{curso.id}}", method="POST">
                                            <div class="box">
                                                <div class="card-body">
                                                    <h2 class="card-subtitle mb-2 text-muted">San Juan TEC</h2>
                                                    <h4 class="card-title">Inscripcion a  <strong>{{curso.nombre}}</strong></h4>
                                                                                                    
                                                    <div class="inputs">
                                                        <label  for="exampleFormControlInput1" class="form-label">Nombre:</label>
                                                        <input  type="text" name="nombre" class="form-control input" id="exampleFormControlInput1" >
                                                    
                                                    
                                                        <label for="exampleFormControlInput1" class="form-label">Apellido:</label>
                                                        <input type="text" name="apellido"class="form-control input" id="exampleFormControlInput1" >
                                                    
                                                        <label for="exampleFormControlInput1" class="form-label">Mail:</label>
                                                        <input type="email" name="email" class="form-control input" id="exampleFormControlInput1" >
                                                    
                                                    </div> 
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-success botonAgregarCurso">Inscribirme</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary botonModal" data-bs-toggle="modal" href="#modal{{curso.id}}">
                            INSCRIBIRME (modal error)
                        </button>
                        


                    </div>
                </div>
            </card>
        {% endfor %}
        </div>
    </div>
    <footer>
        <div>
            <div class="containerFooter">
                <div class="columna2">
                    <div class="imagen">
                        <img src="https://spe.sanjuan.gob.ar/wp-content/uploads/2022/05/logos-gobierno-600x43.png"
                            alt="publi"></img>
                    </div>
                </div>
                <div id="formulary">
                    <div class="container-form">
                        <h5>Envianos tu consulta</h5>
                        <form class="formulario">
                            <input class="form-control" type="text" name="name" placeholder="Nombre" required
                                autofocus></input>
                            <input class="form-control" type="text" name="mail" placeholder="Email" required
                                autofocus></input>
                            <div id="mensaje"><input class="form-control" type="text" name="message" placeholder="Mensaje"
                                    required autofocus></input></div>
                            <button type="submit">Consultar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="../static/js/index.js"></script>
</body>


</body>
</html>


