<link rel="stylesheet" href="{{ url_for('static', filename='styles/styleInscripcion.css' ) }}">
<div>
    <form action="/inscribirEstudiante/{{curso.id}}", method="POST">
        <div class="box" style="width: 18rem;">
            <div class="card-body">
                <h2 class="card-subtitle mb-2 text-muted">San Juan TEC</h2>
                <h4 class="card-title">Inscripcion a  <strong>{{curso.nombre}}</strong></h4>
                
            
                <div class="inputs">
                    <label  for="exampleFormControlInput1" class="form-label">Nombre:</label>
                    <input  type="text" name="nombre" class="form-control input" id="exampleFormControlInput1" >
                
                
                    <label for="exampleFormControlInput1" class="form-label">Apellido:</label>
                    <input type="text" name="apellido"class="form-control input" id="exampleFormControlInput1" >
                
                    <label for="exampleFormControlInput1" class="form-label">Mail:</label>
                    <input type="email" name="email" class="form-control input" id="exampleFormControlInput1" >
                
                </div> 
                <div class="botonera">
                    <button class="card-link">Enviar</button>
                    <a href="{{ url_for('estudiantes.index') }}" class="card-link">Volver</a>
                </div>  
            </div>
        </div>
    </form>
</div>