*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 98vw;
}
/* HERO */

.imagenHero{
    width: 100vw;
}
.imagenHero img{
    width: 100vw;
}

.tituloPagina{
    text-align: center;
    font-size: 2rem;
    margin-top: 6rem;
}


/* CARDS */

.container_card {
    width: 100%;
   /* margin-left: 15px; */
    position: relative;
    /*
    display: grid;
    margin-left: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.5em;
    */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5rem;
    background-color: white;
}



.tarjeta {
    width: 92%;
    max-width: 450px;
    height: 500px;
    border-radius: 3px;
    margin: 15px;
    margin-bottom: 80x;
    box-shadow: 1px 2px 2px rgb(126, 126, 126);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tarjeta:hover {
    transform: translateY(-10px);
    transition: 0.8s all;
    background-color: rgba(105, 43, 68, 0.8);
    color: rgb(255, 255, 255);
}
.tarjeta:hover .button{
    background-color: white;
}

.tarjeta #cabecera {
    margin: 20px;
    position: inherit;
}

.tarjeta .content {
    margin: auto;
    position: inherit;
}

.tarjeta #pregunta {
    margin-left: 24px;
}

.tarjeta #pie {
    margin: 10px;
}
.tarjeta #pie .precio{
    text-align: right;
    font-size: 1.5rem;
    font-weight: 800;
    padding-right: 30px;
}
.botonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.boton {
    justify-content: center;
    background-color: rgba(105, 43, 68,1);
    border-radius: 2px;
    margin: 5px;
    cursor: pointer;
    padding: 8px;
}
.boton a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

.boton:hover {
    transition: all 0.8s;
    background-color: rgb(33, 121, 14);
    text-decoration: underline;
}



/* FOOTER */

.containerFooter {
    padding: 30px;
    color: white;
    background-color: rgb(47, 1, 28);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    /*gap: 420px; */
    margin: auto;
    margin-top: 80px;
}


.containerFooter h5 {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    display: flex;
    margin-bottom: 2rem;
}
.containerFooter{
    overflow: hidden;
}

#formulary, .columna2{
    margin-top: 50px;
}

.containerFooter .imagen {
    display: inline;
    filter: hue-rotate(60deg) brightness(400%);
    width:100%;
    object-fit: scale-down;
  
}


.containerFooter .formulario input {
    width: 100%;
    height: 35px;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    background-color: white;
    border: white thin solid;
    border-radius: 20px;
    text-align: left;
    padding: 12px;
    font-size: .9rem;
}


.containerFooter #mensaje input {
    height: 55px;
    border-radius: 10px;
}

.containerFooter::placeholder {
    color: rgba(255, 105, 0, 1);
}

.containerFooter .formulario button {
    width: 45%;
    margin: auto;
    display: inline;
    text-align: center;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: rgba(255, 105, 0, 1);
    font-weight: 600;
    font-size: .8rem;
    cursor: pointer;
    color: white;
}


.formulario button:hover {
    background-color: white;
    color: rgba(255, 105, 0, 1);
    transition: all 0.8s;
}

